<footer class="page-footer mtn">
  <div class="container">
    <div class="row">
      <div class="col s12 m5 l6">
        <img src="{{ site.baseurl }}/assets/images/robotxspace.svg" alt="RobotX Space" class="logo responsive-img">
        <div>
          <div class="fb-like" data-href="https://www.facebook.com/robotxspace" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        </div>
        <p class="grey-text text-lighten-4">
          RobotX Space is the leading global coworking space focusing on AI. We help entrepreneurs bring concepts to market and provide them with resources to succeed. Based on GWC’s global connections and strong relationships with China, RobotX Space is a powerful cross-border platform connecting China and US.
        </p>
      </div>
      <div class="col s4 m3 l2 offset-l1">
        <h6 class="white-text">Navigation</h6>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="{{ site.baseurl }}/">Home</a>
          </li>
          {% assign sorted_pages = site.html_pages | sort:"order" %}
          {% for my_page in sorted_pages %}
            {% if my_page.order > 0 %}
            <li>
              <a class="grey-text text-lighten-3" href="{{ my_page.url }}">{{ my_page.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
          <li>
            <a class="grey-text text-lighten-3" href="/contact/">Apply</a>
          </li>
        </ul>
      </div>
      <div class="col s8 m4 l3">
        <h6 class="white-text">Contact</h6>
        <div class="social clearfix">
          <ul>
            <li><a href="{{ site.facebook-url }}"><img src="{{ site.baseurl }}/assets/images/social-facebook.svg" alt="Facebook" class="svg"></a></li>
            <li><a href="{{ site.twitter-url }}"><img src="{{ site.baseurl }}/assets/images/social-twitter.svg" alt="Twitter" class="svg"></a></li>
            <li><a href="{{ site.instagram-url }}"><img src="{{ site.baseurl }}/assets/images/social-instagram.svg" alt="Instagram" class="svg"></a></li>
            <li><a href="{{ site.meetup-url }}"><img src="{{ site.baseurl }}/assets/images/social-meetup.svg" alt="Meetup" class="svg"></a></li>
          </ul>
        </div>
        <div class="white-text">
          4500 Great America Parkway<br>
          Santa Clara, CA 95054<br>
          {{ site.phone }}<br>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6">&copy; 2016 {{ site.title }}. All Rights Reserved</div>
      </div>
    </div>
  </div>
</footer>
<div id="contact" class="modal">
  <form action="https://formspree.io/info@robotxspace.com" id="contact-form" method="POST">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <a class="modal-action modal-close right" href="#!"><i class="material-icons">clear</i></a>
          <h4 class="blue-text">Get In Touch</h4>
          <div>
            <small>Please fill in the required fields and we will get in touch within 24 hours</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" id="name" name="name" class="validate" required>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="email" id="email" name="_replyto" class="validate" required>
          <label for="email" data-error="Invalid address">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="message" name="message" class="materialize-textarea" required></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <input type="hidden" name="_subject" value="RobotX Space Inquiry">
      <input type="text" name="_gotcha" style="display:none">
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
    </div>
  </form>
</div>
<div class="fixed-action-btn top-btn">
  <a class="btn-floating btn transparent z-depth-1">
    <i class="material-icons blue-text">keyboard_arrow_up</i>
  </a>
</div>
<div class="fixed-action-btn sticky-contact">
  <a class="waves-effect waves-light btn modal-trigger blue-grey lighten-5 blue-grey-text text-darken-3" href="#contact">Contact Us</a>
</div>
