.hero {
  background-position: center center;
  background-size: cover;
}
.intro {
  background-image: url('../images/bg-space.jpg');
  position: relative;
  z-index: 1;
  &::before {
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 85%,rgba(0, 0, 0, 1) 100%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  .content {
    padding: 1em 2em;
    // background: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
    background: rgba(0,0,0,.6);
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    width: 100%;
    .slogan {
      font-size: 1.7em;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 1.5;
      margin-bottom: .1em;
      margin-top: .1em;
      @media #{$large-and-up} {
        font-size: 3.5em;
      }
    }
    p {
      font-weight: 200;
      margin-top: 0;
    }
    a {
      margin-bottom: 10px;
    }
  }
}
.stats {
  .card .row {
    margin-bottom: 0;
  }
  .stat-title {
    color: color('blue','base');
    font-size: 1.7em;
    font-weight: 400;
  }
  .stat-desc {
    font-weight: 300;
  }
  .stat-small {
    font-size: .8em;
    font-weight: 200;
  }
}
.overview {
  blockquote {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
  }
  p {
    font-size: 1.1em;
    line-height: 2;
  }
}

.features {
  .feature-img {
    position: relative;
    .circle {
      filter: brightness(110%);
      height: 180px;
      width: 180px;
    }
  }
}
.services {
  .service-icons {
    fill: color('blue-grey', 'base');
    margin-bottom: 1em;
    width: 80px;
  }
  ul li {
    border-bottom: 1px solid $collection-border-color;
    font-size: .8em;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  ul li:first-child {
    padding-top: 0;
  }
  ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .card {
    .card-action.center-align a:not(.btn) {
      margin-right: 0;
    }
    .card-title {
      line-height: 1.2;
    }
  }
}
.network {
  @media #{$small-and-down} {
    .col:nth-child(3n+1) {
      clear: both;
    }
  }
  @media #{$medium-and-up} {
    .col:nth-child(4n+1) {
      clear: both;
    }
  }
  .card .card-image {
    z-index: 1;
    overflow: hidden;
    img {
      transition: all .25s ease-in-out;
    }
    &:hover {
      & img {
        transform: scale3d(1.2,1.2,1.2);
      }
    }
  }
  .card .card-image::after {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .card .card-image .card-title {
    width: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .66);
    font-size: 16px;
    padding: 5px;
    z-index: 5;
    @media #{$medium-and-up} {
      font-size: 20px;
    }
  }
  .card-content {
    padding: 10px;
  }
  .description {
    .title,
    .company {
      font-size: .8em;
    }
    .company {
      font-style: italic;
    }
  }
}
