.main-nav {
  li a {
    font-weight: 200;
    text-transform: uppercase;
  }
  .menu-apply {
    box-shadow: inset 0 1px color("red", "darken-4"), inset 0 -1px color("red", "darken-4");
    background-color: $secondary-color;
  }
}
.side-nav {
  .sidebar-brand {
    width: 64px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  i.material-icons {
    height: $sidenav-item-height;
    line-height: $sidenav-item-height;
  }
  .logo {
    line-height: normal;
    height: auto;
  }
  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .social {
    ul {
      padding: 0 48px;
      li {
        border-bottom: 0;
      }
    }
    a {
      padding: 0;
    }
    img, .svg {
      line-height: 48px;
      margin-top: 12px;
      width: 24px;
      height: 24px;
      fill: $sidenav-font-color;
    }
  }
  .copyright {
    line-height: 2em;
  }
}
.lang-select {
  padding: .3em 0;
  font-size: 0.7em;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  a {
    color: #fff;
  }
}
